{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>

</head>
<body>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Account</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'my_account' %}">My Account</a></li>
                        <li class="breadcrumb-item active">LogOut/Change Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start logout  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="title-left">
                        <h3>Logout</h3>
                    </div>
                    <form class="mt-3 review-form-box" id="formRegister" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="InputPassword1" class="mb-0">Email</label>
                                <input type="email" class="form-control" id="InputPassword1" name="email" value="{{request.session.email}}" readonly> </div>
                            
                        </div>
                        <button type="submit" class="btn hvr-hover">Log Out</button>
                    </form>
                </div>
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="title-left">
                        <h3>Change Password</h3>
                    </div>
                    {% if msg %}
                        <p style="color:blue">{{msg}}</p>
                    {% endif %}
                    <form class="mt-3 review-form-box" id="formRegister" method="POST" action="{% url 'change_password' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="InputPassword1" class="mb-0">Old Password</label>
                                <input type="password" class="form-control" id="InputPassword1" name="old_password" placeholder="Old Password"> </div>
                            <div class="form-group col-md-6">
                                <label for="InputPassword1" class="mb-0"></label>
                                <input type="hidden" class="form-control" id="InputPassword1"> </div>                
                            <div class="form-group col-md-6">
                                <label for="InputPassword1" class="mb-0">New Password</label>
                                <input type="password" class="form-control" id="InputPassword1" name="new_password" placeholder="New Password"> </div>
                            <div class="form-group col-md-6">
                                <label for="InputPassword1" class="mb-0">Confirm New Password</label>
                                <input type="password" class="form-control" id="InputPassword1" name="cnew_password" placeholder="Confirm New Password"> </div>
                        </div>
                        <button type="submit" class="btn hvr-hover">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End login -->
</body>
</html>
{% endblock %}