{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>

</head>
<body>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Account</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'my_account' %}">Account</a></li>
                        <li class="breadcrumb-item active">Login/Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start login  -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-6 col-lg-6 mb-3">
                    <div class="title-left">
                        <h3>Enter Email</h3>
                    </div>
                    {% if msg %}
                        <p style="color:blue">{{msg}}</p>
                    {% endif %}
                    <form class="mt-3 review-form-box" method="POST" action="{% url 'forgot_password' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label  class="mb-0">Email Address</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter Email"> </div>
                        </div>
                        <button type="submit" name="action" class="btn hvr-hover">Send OTP</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End login -->
</body>
</html>
{% endblock %}