{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
</head>
<body>

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="{% static 'images/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'images/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                            <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="{% url 'shop' %}">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/t-shirts-img.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'product_sub_categories' product_name='tshirt' %}">T-shirts</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/shirt-img.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'product_sub_categories' product_name='shirt' %}">Shirt</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/wallet-img.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'product_sub_categories' product_name='wallet' %}">Wallet</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/women-bag-img.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'product_sub_categories' product_name='bag' %}">Bags</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/shoes-img.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'product_sub_categories' product_name='shoes' %}">Shoes</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="{% static 'images/women-shoes-img.jpg' %}" alt="" />
                        <a class="btn hvr-hover" href="{% url 'product_sub_categories' product_name='womenshoes' %}">Women Shoes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Featured Products</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for a in product %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{{a.product_image.url}}" class="img-fluid" alt="Image" style="width:270px; height:320px">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="{% url 'shop_detail' pk=a.pk %}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    {% if request.session.email %}
                                    <li>
                                        {% if a in pw %}
                                            <a href="{% url 'remove_from_wishlist' pk=a.pk %}" data-toggle="tooltip" data-placement="right" title="Remove From Wishlist"><i class="fas fa-heart"></i></a>  
                                        {% else %}
                                            <a href="{% url 'add_to_wishlist' pk=a.pk %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a>    
                                        {% endif %}
                                    </li>

                                </ul>
                                    {% if a in pc %}       
                                        <a class="cart" href="{% url 'remove_from_cart' pk=a.pk %}">Remove From Cart</a>
                                    {% else %}
                                        <a class="cart" href="{% url 'add_to_cart' pk=a.pk %}">Add to Cart</a>
                                    {% endif %}
                                    {% else %}
                                    <a class="cart" href="{% url 'login' %}">Login for more</a>
                                    {% endif %}
                            </div>
                        </div>
                        <a href="{% url 'shop_detail' pk=a.pk %}">
                            <div class="why-text">
                                <h4>{{a.product_name}}</h4>
                                <h5> ₹ {{a.product_price}}</h5>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

                <!-- <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img src="{% static 'images/img-pro-02.jpg' %}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Add to Cart</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>Lorem ipsum dolor sit amet</h4>
                            <h5> $9.79</h5>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    <!-- End Products  -->

    <script>
        $("#email").change(function(){
            var email=$(this).val();
            $.ajax({
                url:"ajax/validate_email/",
                data:{'email':email},
                dataType:'json',
                success:function(data){
                    if (!data.is_taken){
                        /*document.getElementById("email").style.border="5px solid red";*/
                        document.getElementById('email_error').innerhtml="This email id is not registered"
                    }
                    else{
                        /*document.getElementById("email").style.border="5px solid green";*/
                        document.getElementById('email_error').innerhtml="This email id is not registered"
                    }
                }
            });
        });
    </script>
    
</body>
</html>
{% endblock %}